.jumbotron {
  height: 1700px !important;
  background: #f6f6f6 !important;
}
.become-member-frontpage {
  display: block !important;
}
.become-member {
  text-align: center;
  padding-top: 4em;
}
.become-member-header span {
  font-size: 45px;
  font-weight: bold;
  color: #212957;
}
.sign-up-group {
  display: flex;
  margin-top: 4em;
}
.buyer-signup-header {
  background-image: url("../img/become-member/buyer.png");
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: contain;
  height: 330px;
  padding-top: 50px;
  width: 110%;
  margin-left: -5%;
  margin-bottom: 70px;
}
.platinum-signup-header {
  background-image: url("../img/become-member/platinum.png") !important;
  height: 370px;
}
.buyer-signup-header span {
  font-size: 40px;
  font-weight: bold;
}
.platinum-signup-header span {
  font-size: 45px;
  font-weight: bold;
}
.buyer-signup-header p {
  font-size: 16px;
}
.round-free {
  margin-top: 9em;
}
.round-platinum {
  margin-top: 7em;
}
.round-free span {
  background: #fff;
  color: #c12280;
  font-size: 40px;
  font-weight: initial !important;
  padding: 48px 30px;
  border-radius: 50%;
  filter: drop-shadow(0px 11px 200px #000);
}
.price {
  display: inline-grid;
  padding: 35px 30px !important;
}
.signup-condition {
  color: #bababa;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: initial;
}
.signup-condition:hover {
  color: #fff;
  background: linear-gradient(180deg, #5ea2ef, #d12d9c);
}
.signup-condition span {
  font-size: 16px;

  line-height: 1.5;
  padding-left: 20px;
}
.signup-condition-group {
  background: #fff;
  margin: 60px 40px 0;
  border-radius: 20px;
  height: 1150px;
  filter: drop-shadow(0px 0px 10px #707070);
}
.platinum-signup-group {
  height: 1300px !important;
  margin: 10px !important;
}
.platinum-signup-group .signup-condition {
  padding: 22px 30px !important;
}
.signup-condition1 {
  background: #f1eeee;
}
.free-btn-div {
  margin-top: -20px;
}
.free-btn-div1 {
  margin-top: -35px;
}
.free-btn {
  filter: drop-shadow(0px 0px 10px #fff);
  font-size: 22px;
  border: none;
  width: 250px;
  padding: 15px 40px;
  border-radius: 35px;
  color: #fff;
  text-align: center;
  background: linear-gradient(90deg, #e75d7a, #c12280);
}
.free-btn:hover {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #c12280, #e75d7a);
}
.now-btn {
  filter: drop-shadow(0px 0px 10px #fff);
  font-size: 23px;
  border: none;
  width: 280px;
  padding: 18px 40px;
  border-radius: 45px;
  color: #fff;
  text-align: center;
  background: linear-gradient(90deg, #5ea2ef, #d12d9c);
}
.now-btn:hover {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #d12d9c, #5ea2ef);
}

@media (max-width: 1366px) {
  .container {
    max-width: 100vw !important;
  }
  .round-free {
    margin-top: 9em;
  }
  .round-platinum {
    margin-top: 4em;
  }
  .buyer-signup-header {
    padding-top: 30px;
  }
  .round-free span {
    font-size: 30px;
    padding: 45px 30px;
  }
  .buyer-signup-header span {
    font-size: 30px;
    font-weight: bold;
  }
  .buyer-signup-header {
    height: 270px;
  }
  .platinum-signup-header {
    height: 310px;
  }
  .signup-condition-group {
    margin: 60px 20px 0;
  }
  .platinum-signup-group {
    height: 1350px !important;
  }
  .now-btn {
    font-size: 21px;
    width: 230px;
  }
  .free-btn {
    font-size: 19px;
    width: 210px;
  }
}
