.jumbotron {
  height: 550px !important;
}
.forgot-password {
  display: flex !important;
  justify-content: center !important;
}
.forgot-header-content {
  text-align: center;
}
.forgot-header-content span {
  color: #000;
  opacity: 0.35;
  line-height: 3;
  font-size: 16px;
}
.forgot-header-content input {
  margin-top: 4em;
}
.forgot-btn {
  width: 300px;
}
.forgot-btn-group a {
  margin-right: 4em;
}

@media (max-width: 1366px) {
  .login-input {
    margin-top: 2em;
  }
  .forgot-header-content span {
    font-size: 14px;
  }
  .forgot-header-content input {
    margin-top: 2em;
  }
  .forgot-btn {
    width: 250px;
  }
}
