footer {
  background-image: url(../img/home/footer.svg);
  height: 1170px;
}
.overflow {
  overflow: hidden;
}
.jumbotron {
  background: linear-gradient(140deg, #5ea2ef, #cc329f);
  position: relative;
  width: 100%;
  height: 900px;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 0;
}
.frontpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15rem;
}
.frontpage .frontpage2 .headline {
  font-family: "Poppins";
  font-size: 50px;
  margin-bottom: 0;
}
.frontpage2 {
  margin-right: 50px;
  width: 32vw;
}
.frontpage .frontpage2 .slogan {
  font-family: "Poppins";
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 5rem;
  margin-top: 3rem;
  opacity: 0.7;
  line-height: 2.5;
}
.serach-name {
  padding: 0 2rem;
  color: #000;
  background: none;
  outline: none;
  border: none;
  width: 50%;
}
.serach-name::placeholder {
  color: #fff;
  opacity: 0.7;
}
.home-search {
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px 0px 16px 10px;
}
.search-button {
  background: linear-gradient(90deg, #e75d7a, #c12280);
  border: none;
  border-radius: 30px;
  padding: 16px 55px;
  color: white;
  margin-right: -2px;
}
.headline span {
  color: #a2ca28;
}
.slogan span {
  color: #fd634e;
}
.skew-overlay {
  background-color: #fd634e;
  opacity: 0.3;
  height: 130px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: skewY(-2.5deg);
  transform-origin: 120%;
  -webkit-transform: skewY(-2.5deg);
  -webkit-transform-origin: 120%;
}
.featured {
  position: relative;
  width: 100%;
  padding: 100px 0 70px;
}
.featured .container {
  margin-top: -28rem;
  background: white;
  border-radius: 20px;
  padding: 30px;
  background-size: cover;
}
.container1 {
  margin-top: 8rem !important;
  background-image: linear-gradient(
      rgba(231, 93, 122, 0.9),
      rgba(193, 34, 128, 0.9)
    ),
    url("../img/home/students.png") !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 img {
  text-align: center;
}
.featured h2 {
  font-size: 25px;
  margin: 1.5rem 0;
  text-align: center;
}
.feature {
  margin-left: 20px;
  border-radius: 20px;
  padding: 30px 20px;
  max-width: 23% !important;
}
.feature1 {
  background: linear-gradient(#e75d7a, #c12280);
}
.feature2 {
  background: #212957;
}
.feature .icon-ft {
  font-size: 3rem;
}
.middle-button {
  background: white;
  border: none;
  border-radius: 30px;
  padding: 15px 50px;
  color: #cd309e;
  font-size: 15px;
}
.middle-button:hover {
  background: linear-gradient(90deg, #5ea2ef, #d12d9c);
  color: #fff;
}
.middle-buttons {
  display: flex;
  justify-content: center;
}
.middle-button1 {
  margin-top: 37px;
}
.middle-button2 {
  margin-top: 5.7rem;
}
.feature p {
  margin-bottom: 2rem;
  line-height: 3;
  text-align: center;
  font-size: 14px;
  padding: 10px 15px;
}
.feature span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.feature span div {
  display: contents;
  font-weight: 700;
}
.feature a {
  text-decoration: none;
  color: #fff;
}
.feature a .icon-long-arrow-right {
  position: relative;
  top: 2px;
  left: 7px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.feature a:hover .icon-long-arrow-right {
  left: 14px;
}
.green-section {
  background-image: url("../img/home/resource-bg.png");
  height: 1400px;
  background-repeat: no-repeat;
  background-size: contain;
}
.resource-header {
  font-size: 45px;
  color: white;
  display: block;
  text-align: center;
  font-weight: 600;
  line-height: 2;
}
.resource-header-bar {
  padding-top: 95px;
}
.resource-header-bar .col-lg-4 {
  text-align: center;
}
.resource-header-content {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 2;
  display: flex;
}
.lg-image,
.sm-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rotate-img {
  transform: rotate(180deg);
}
.resource-first {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resource-first .lg-image {
  background: white;
  margin: 0 20px;
  padding: 20px;
  border-radius: 20px;
}
.resource-image {
  float: none !important;
}
.resource-image1 {
  margin: 0px -20px;
}
.resource-image2 {
  margin: 30px -40px 0;
}
.resource-image3 {
  margin: -7px -15px;
}
.resource-content {
  color: #000;
}
.resource-content p {
  font-size: 13px;
}
.resource-buttons p {
  font-size: 13px;
}
.resource-title-header {
  opacity: 0.4;
}
.resource-title {
  padding-left: 25px;
}
.resource-title1 {
  font-weight: bold;
}
.resource-content-header {
  font-weight: 700;
  font-size: 15px;
  line-height: 4;
}
.resource-button {
  background: #c12280;
  border-radius: 10px;
  font-size: 13px;
  padding: 5px 0px 5px 20px;
}
.resource-price {
  color: #c12280;
  text-align: center;
}
.price-tag {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-left: -30px !important;
}
.price-value {
  font-size: 25px;
  font-weight: bold;
}
.resource-button1 {
  background: linear-gradient(90deg, #5ea2ef, #d12d9c);
  border: none;
  border-radius: 50px;
  padding: 15px 45px;
  color: white;
}
.resource-button1:hover {
  background: linear-gradient(90deg, #d12d9c, #5ea2ef);
}
.resource-view-more {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.view-more {
  font-size: 18px;
}
.resource-button1 img {
  padding-right: 10px;
}
.resource-button span {
  display: block;
  line-height: 2;
}
.resource-buttons1 {
  padding-left: 0px !important;
  padding-right: 5px !important;
}
.resource-buttons2 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.resource-buttons-group {
  display: flex;
  padding-top: 0px;
}
.resource-buttons-group1 {
  margin-top: 20px;
  display: flex;
}
.resource-first {
  position: relative;
}
.resource-first .lg-image {
  height: 100%;
  position: relative;
}
.why-teach {
  height: 1000px;
}
.why-content-title {
  color: #212957;
  font-size: 50px;
  font-weight: bold;
}
.why-main {
  display: flex;
  margin-top: 30px;
}
.why-main img {
  padding-right: 20px;
  margin-top: -5em;
}
.why-bg {
  background-image: url("../img/home/why-bg.svg");
  height: 900px;
  background-repeat: no-repeat;
  background-size: contain;
}
.why-description1 {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  display: block;
}
.why-description2 {
  color: #000;
  font-size: 18px;
  opacity: 0.4;
  line-height: 2.3;
}
.why-know-more {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.download-app {
  height: 1000px;
}
.app-bg {
  background-image: url("../img/home/app-bg.png");
  height: 850px;
  background-repeat: no-repeat;
  background-size: contain;
}
.app-content {
  padding-top: 12em;
}
.app-content-title {
  color: #212957;
  font-size: 75px;
  font-weight: bold;
}
.app-description {
  color: #212957;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 2.5;
  padding-top: 20px;
}
.app-buttons {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.app-button {
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  color: white;
  margin-right: 20px;
}
.app-button1 {
  background: linear-gradient(90deg, #5ea2ef, #d12d9c);
}
.app-button2 {
  background: linear-gradient(100deg, #e75d7a, #c12280);
}
.app-button img {
  padding-right: 10px;
}
.testimonial {
  text-align: center;
  margin-bottom: 5em;
}
.testimonial-title {
  color: #212958;
  font-size: 45px;
  display: block;
  font-weight: bold;
}
.testimonial-description {
  color: #000;
  font-size: 16px;
  opacity: 0.4;
  line-height: 2.5;
}
.testimonial-content {
  color: #000;
  font-size: 16px;
  line-height: 3;
  letter-spacing: -1.2px;
  margin-top: 35px;
}
.girl {
  color: #000;
  margin-top: 15px;
}
.girl-name {
  font-weight: bold;
  font-size: 16px;
}
.girl p {
  font-size: 12px;
  font-weight: 600;
}
.girl p img {
  margin-right: 5px;
  margin-top: -2px;
}
.testimonial-image {
  margin-top: 35px;
}
.footer-menu {
  margin-top: 11em;
}
.footer-title p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.footer-resources {
  padding-left: 0px;
}
.footer-resources li {
  list-style: none;
}
.footer-resources li a {
  color: #fff;
  font-size: 16px;
  line-height: 2.5;
}
.footer-copyright {
  background: #fff none repeat scroll 0 0;
  padding: 40px 0;
  opacity: 0.2;
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.footer-copyright-content {
  bottom: 0px;
  position: absolute;
  color: #fff;
  width: 100%;
  padding: 25px 0 17px;
}
.copyright-img a {
  color: #fff;
  margin-right: 30px;
}
.copyright-img a img {
  margin-right: 8px;
}
.copyright-social-icon {
  margin-right: 15px;
}
@media (max-width: 1366px) {
  .feature p {
    font-size: 11px;
    line-height: 2;
  }
  .featured h2 {
    font-size: 20px;
  }
  .feature span {
    font-size: 20px;
  }
  .middle-button2 {
    margin-top: 5.3rem;
  }
  .resource-header {
    font-size: 35px;
  }
  .resource-header-content {
    font-size: 14px;
    line-height: 1.5;
  }
  .container {
    max-width: 80vw !important;
  }
  .resource-content-header {
    font-size: 11px;
  }
  .resource-button1 {
    padding: 11px 25px;
  }
  .resource-button {
    padding: 5px 0px 5px 7px;
    font-size: 9px;
  }
  .resource-content p {
    font-size: 10px;
  }
  .green-section {
    height: 1000px;
  }
  .resource-image1,
  .resource-image2,
  .resource-image3 {
    width: 175px;
  }
  .resource-image1 {
    margin: 0px -8px;
  }
  .resource-image2 {
    margin: 46px -15px 0;
  }
  .view-more {
    font-size: 15px;
  }
  .resource-view-more {
    margin-top: 2em;
  }
  .why-content-title {
    font-size: 40px;
  }
  .why-description1 {
    font-size: 18px;
  }
  .why-description2 {
    font-size: 14px;
  }
  .why-know-more {
    font-size: 15px;
    margin-top: 3em;
  }
  .resource-header-bar {
    padding-top: 70px;
  }
  .resource-first {
    margin-top: 2em;
  }
  .price-value {
    font-size: 20px;
  }
  .price-tag {
    font-size: 10px;
  }
  .resource-buttons-group1 {
    margin-top: 10px;
  }
  .why-content {
    padding-top: 0em;
  }
  .why-description2 {
    line-height: 2;
  }
  .why-main img {
    margin-top: 0em;
  }
  .why-bg {
    height: 650px;
  }
  .why-teach {
    height: 500px;
  }
  .app-content-title {
    font-size: 50px;
  }
}
