.jumbotron .container {
  max-width: 75vw !important;
}
.inbox-jumbotron {
  background: none !important;
  height: 950px !important;
}
.inbox-frontpage {
  height: 100%;
  padding: 0 15rem;
  margin-top: 4em;
}
.inbox-header {
  color: #000;
  font-size: 45px;
  font-weight: bold;
}
.inbox-btns {
  margin: 50px 0;
}
.inbox-btns a {
  background: #fff;
  border-radius: 50px;
  width: 250px;
  color: #212957;
  font-size: 14px;
  margin-left: 20px;
}
.inbox-btns a:hover {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #e75d7a, #c12280);
}
.compose-message {
  padding: 15px 25px;
}
.sent-message {
  padding: 15px 45px;
}
.inbox-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 30px;
  border: 1px solid rgb(108, 108, 108, 0.1);
  border-radius: 20px;
  margin-top: 30px;
}
.inbox-body1 {
  margin-top: 5em;
}
.inbox-body span {
  color: #000;
  font-size: 16px;
}
.inbox-body img {
  cursor: pointer;
  margin-left: 3em;
}
.inbox-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1366px) {
  .inbox-jumbotron {
    height: 950px !important;
  }
  .inbox-frontpage {
    margin-top: 3em;
  }
  .inbox-body1 {
    margin-top: 3em;
  }
}
